#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 180px;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

article {
  margin: 20px;
  text-align: left;
}

article h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

li p {
  margin: 0;
  font-size: 0.95em;
  line-height: 1.4;
}

li b {
  display: block;
  font-size: 1em;
  margin-bottom: 4px;
}
.todo-list::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.5em;
  color: black;
}

.zara-todo-list::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.5em;
  color: pink;
}

.item::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.5em;
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}